<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dataArray</key>
	<array>
		<dict>
			<key>name</key>
			<string>webview有进度条下拉刷新</string>
			<key>classname</key>
			<string>MyWebView</string>
			<key>describe</key>
			<string>图片选择器描述</string>
		</dict>
		<dict>
			<key>name</key>
			<string>跳转网页控制器</string>
			<key>classname</key>
			<string>SelectWebUrlViewController</string>
			<key>describe</key>
			<string>图片选择器描述</string>
		</dict>
		<dict>
			<key>name</key>
			<string>可以设置的图片frame与标签frame的按钮</string>
			<key>classname</key>
			<string>WSSizeButton</string>
			<key>describe</key>
			<string>图片选择器描述</string>
		</dict>
		<dict>
			<key>name</key>
			<string>可已设置placeholder的textview</string>
			<key>classname</key>
			<string>PLTextView</string>
			<key>describe</key>
			<string>图片选择器描述</string>
		</dict>
		<dict>
			<key>name</key>
			<string>控件创建方法</string>
			<key>classname</key>
			<string>RHMethods</string>
			<key>describe</key>
			<string>图片选择器描述</string>
		</dict>
		<dict>
			<key>name</key>
			<string>带上拉,下拉的tableview</string>
			<key>classname</key>
			<string>RHTableView</string>
			<key>describe</key>
			<string>带上拉,下拉的tableview</string>
		</dict>
		<dict>
			<key>name</key>
			<string>星星评分</string>
			<key>classname</key>
			<string>XHStarRateView</string>
			<key>describe</key>
			<string>星星评分</string>
		</dict>
		<dict>
			<key>name</key>
			<string>搜索标签</string>
			<key>classname</key>
			<string>ProductKeysView</string>
			<key>describe</key>
			<string>搜索标签可以点击</string>
		</dict>
	</array>
</dict>
</plist>
