<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>dataArray</key>
        <array>
            <dict>
                <key>name</key>
                <string>跳转案例</string>
                <key>classname</key>
                <string>OnlyDemoOBJ</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>图片选择器</string>
                <key>classname</key>
                <string>ImageSelectEditorView</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>生成工具</string>
                <key>classname</key>
                <string>WSimageToolUse</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>生成工具列表</string>
                <key>classname</key>
                <string>WSimageToolUseList</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>生成工具列表所有</string>
                <key>classname</key>
                <string>WSImageToolUseListAll</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>中部弹框</string>
                <key>classname</key>
                <string>MyUiIAlertView</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>性能测试</string>
                <key>classname</key>
                <string>PerforManceTestTool</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>性能测试tableView</string>
                <key>classname</key>
                <string>TableViewPerfomanceTest</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>性能测试MYRHTableView</string>
                <key>classname</key>
                <string>MYRHTableViewPerfomanceTest</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>底部弹框</string>
                <key>classname</key>
                <string>MyUiActionSheet</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>右上角-导航栏下拉框</string>
                <key>classname</key>
                <string>NavRightSelectTypeDemo</string>
                <key>describe</key>
                <string>固定位置</string>
            </dict>
            <dict>
                <key>name</key>
                <string>输入框键盘处理demo</string>
                <key>classname</key>
                <string>keboardDemo</string>
                <key>describe</key>
                <string>固定位置</string>
            </dict>
            <dict>
                <key>name</key>
                <string>加载提示类型的弹窗</string>
                <key>classname</key>
                <string>SVPopSomeThing</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>列表样式包含下拉刷新，上拉加载，侧滑删除编辑</string>
                <key>classname</key>
                <string>RHTableViewDemo</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>开关</string>
                <key>classname</key>
                <string>SwichButtonDemo</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>进度条</string>
                <key>classname</key>
                <string>ProgressDemo</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>条目选择</string>
                <key>classname</key>
                <string>SelectTitleViewController</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>时间选择</string>
                <key>classname</key>
                <string>SelectDateView</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>地址选择</string>
                <key>classname</key>
                <string>SelectAddressView</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
            <dict>
                <key>name</key>
                <string>网络请求</string>
                <key>classname</key>
                <string>NetRequsetDemo</string>
                <key>describe</key>
                <string>图片选择器描述</string>
            </dict>
        </array>
    </dict>
</plist>

